 body{
    /* background-image: url(./img/biometric-technology-background-with-fingerprint-scanning-system-virtual-screen-digital-remix.jpg); */
    
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  

}  



.container-fluid{
    /* background-color: rgb(249, 152, 24); */

    background-image: url(./img/biometric-technology-background-with-fingerprint-scanning-system-virtual-screen-digital-remix.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;
 
}



 #d{
    border-radius: 50px;
    background: transparent;
    color: aliceblue;
  }
#c{
  border-radius: 50px;
  background: transparent;
  color: aliceblue;
} 
.btn{
    border-radius: 50px;
  

 

}
h2{
  color: aliceblue;

}
.d1{
  margin-top: 60px;
  margin-bottom:170px;
 

}
h1{
  color: aliceblue;
  margin-left: 50px;
font-size: 50px;
margin-top: 50px;
}
#result{
  height: 300px;

}